{% extends 'todo_app/base.html' %} 

{% block title %} 
TODO Güncelle 
{% endblock title%} 

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4">TODO-APP</h1>
      <p class="lead">Kolayca yapılacaklar listesi oluştur.</p>

      <div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                >Başlık</label
                >
                <div class="col-sm-10">
                <input type="text" class="form-control" name="title" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                >Açıklama</label
                >
                <div class="col-sm-10">
                <input type="text" class="form-control" name="description" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Todo Güncelle</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
